/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

h1 {
	text-align: center;
}

.speechBubble {
	background-color: #424242;
	color: #EAEAEA;
	border-radius: 4px;
	margin: auto;
	width: 260px;
	padding: .75em;
	text-align: center;
	font-size: 13px;
}

.triangle{ /*Technique taken from: https://css-tricks.com/the-shapes-of-css/ */
	margin: auto;
	border-top: 5px solid #424242;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	width: 0;
	margin-right: 45%;
}

.donationBarContainer{
	display: flex;
	margin: auto;
	width: 260px;
	border: 2px solid #EAEAEA;
	border-bottom: 0;
}
.donated {
	background-color: #EF5F3C;
	width: 200px;
	height: 10px;
}

.needed {
	width: 60px;
	height: 10px;
}

.donationBoxContainer{
	border: 2px solid #EAEAEA;
	width: 260px;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(auto, 3);
	grid-template-columns: 50% 50%; /*When used with padding, the fr unit chops off of the last one. I know that can be overcome, but don't remember how off the top of my head.*/
	font-size: 13px;
	padding: 1em 2em;
	justify-content: space-around;
}

.boxText {
	grid-row: 1 / span 1;
	grid-column: 1 / -1;
	color: #777;
}

.boxText b:first-of-type {
	color: #EF5F3C;
}

.inputWrapper {
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	border-radius: 2px;
	margin-right: 1em;

}

.inputWrapper::before {
	content: "$";
	color: #8F8F8F;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	margin-top: .65em;
	margin-left: .5em;
}

.inputWrapper input {
	padding: 14px;
	padding-left: 20px;
	border: 2px solid #EAEAEA;
	border-radius: 2px;
	width: 95px;
	font-size: 14px;
	font-weight: bold;
}

.donationBoxContainer button {
	background-color: #1CBC2C;
	color: white;
	font-weight: bold;
	border-radius: 2px;
	border: 0;
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
	padding: 1em;
	font-size: 14px;
	margin: auto -1em auto .5em;
}

.donationBoxContainer a {
	color: #20A1D4;
	font-style: italic;
	text-decoration: none;
	margin-top: 4px;
}

.buttonContainer {
	display: flex;
	margin: 1em auto auto auto;
	width: 260px;
	justify-content: space-between;
}

.buttonContainer button {
	border: 2px solid #EAEAEA;
	background-color: #fafafa;
	color: #757575;
	border-radius: 2px;
	padding: 1em;
	width: 120px;
	font-weight: bold;
	font-size: 11px;
}
